@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*nome da fonte : Russo One*/

body
{
    margin:0px;
    background-color:gray;
}

.inputCPF
{
    background:none;
    outline:none;
    border:none;
    border-bottom:solid 3px white;
    color:white;
    font-weight:bold;
    font-size:25px;
    width:230px;
}

.botaoConfirmar
{
    color:black;
    border-radius:25px;
    transition:background-color .5s;
    border:none;
}

.botaoConfirmar:hover
{
    background-color:cyan;
}